/*Basic CSS Reset used below:*/

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

/*Basic Style rules for page elements below:*/

body {
	width: 100%;
}

header, nav, main, section, footer {
  display: block;
	text-align: center;
}

header {
	background-color: blue;
}

button {
	margin-top: 10px;
	width: 200px;
	max-width: 60%;
	height: 30px;
}

img {
	max-width: 100%;
}
