
/*Basic CSS Reset used below:*/

* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
	}

/*Basic Style rules for page elements below:*/

body {
	width: 100%;
}

header, nav, main, section, footer {
  display: block;
	text-align: center;
}

header {
	background-color: blue;
}

button {
	margin-top: 10px;
	width: 200px;
	max-width: 60%;
	height: 30px;
}

nav li {
	display: none;
}

main article {
	background-color: red;
	width: 300px;
	max-width: 70%;
	height: 300px;
	margin: 20px auto;

}
